<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syagbasan.sterilveri"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:theme="@style/AppBaseTheme" >
        <activity 
		    android:name="SplashActivity"
		    android:theme="@style/Theme.Transparent" >
		    <intent-filter>
		        <action android:name="android.intent.action.MAIN"></action>
		        <category android:name="android.intent.category.LAUNCHER"></category>
		    </intent-filter>
		</activity> 
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" 
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" 
            android:label="@string/app_name" >
        </activity> 
    </application>

</manifest>
